<div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-10 col-lg-12 col-md-9">
        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <div class="row">
              <div class="col-lg-6 d-flex align-items-center justify-content-center">
                <div class="p-5 w-100">
                  <div class="text-center mb-4">
                    <h1 class="h3 text-center" style="color: #800080;">¡Bienvenido Astrónomo!</h1>
                    <p>Completa los campos a continuación:</p>
                  </div>
                  <form class="user" (ngSubmit)="onRegister(formLogin)" #formLogin="ngForm">
                    <div class="form-group separar_horizont">
                      <input type="text" class="form-control form-control-user" id="exampleInputUser" aria-describedby="emailHelp" placeholder="Nombre" name="nombre" ngModel>
                    </div>
                    <div class="form-group separar_horizont">
                      <input type="text" class="form-control form-control-user" id="exampleInputUser" aria-describedby="emailHelp" placeholder="Apellido" name="apellido" ngModel>
                    </div>
                    <div class="form-group separar_horizont">
                      <input type="text" class="form-control form-control-user" id="exampleInputUser" aria-describedby="emailHelp" placeholder="Nacionalidad" name="nacionalidad" ngModel>
                    </div>
                    <div class="form-group separar_horizont">
                      <input type="number" class="form-control form-control-user" id="exampleInputUser" aria-describedby="emailHelp" placeholder="Edad" name="edad" ngModel>
                    </div>
                    <div class="form-group separar_horizont">
                      <input type="number" class="form-control form-control-user" id="exampleInputUser" aria-describedby="emailHelp" placeholder="Teléfono" name="telefono" ngModel>
                    </div>
                    <div class="form-group separar_horizont">
                      <input type="text" class="form-control form-control-user" id="exampleInputUser" aria-describedby="emailHelp" placeholder="Intereses" name="intereses" ngModel>
                    </div>
                    <div class="form-group separar_horizont">
                      <input type="email" class="form-control form-control-user" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Correo" name="correo" ngModel>
                    </div>
                    <div class="form-group separar_horizont">
                      <input type="password" class="form-control form-control-user" id="exampleInputPassword" placeholder="Clave" name="clave" ngModel autocomplete="on">
                    </div>
                    <div>
                      <button (click)="onReturn()" class="btn btn-primary btn-user btn-block comp_separado" style="margin-right: 150px;">
                        Regresar
                      </button>
                      <button type="submit" class="btn btn-primary btn-user btn-block comp_separado">
                        Registrarse
                      </button>
                    </div>
                  </form>
                  <hr>
                </div>
              </div>
              <div class="col-lg-6 d-flex flex-column align-items-center justify-content-start">
                <div class="description-container mt-5 mb-4 text-right">
                    <h3 class="text-right" style="color: #800080;">¿Qué es StarGazers?</h3>
                    <p>
                        'StarGazers' es un software diseñado para permitir a entusiastas de todas las edades y niveles de conocimiento explorar y descubrir las maravillas del universo. 
                        <br><br>
                        Con el propósito de evocar emociones como la maravilla, la curiosidad y el sentido de aventura, 
                        'StarGazers' proporciona una experiencia única e inmersiva.
                      </p>
                      
                  </div>
                  
                <div class="image-container">
                  <img src="assets/img/detectan-estructuras-giratorias-millones-anos.jpg" alt="Imagen descriptiva" style="max-width: 95%; height: 90;">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
   </div>