<!-- perfil.component.html -->
<app-menu></app-menu>

<div class="content">
  <div class="container-fluid pt-4 px-4">
    <div class="bg-secondary rounded h-100 p-4">
      <div class="m-n2">
        <h2 class="mb-4">Perfil de Usuario</h2>

        <div class="row">
          <div class="col-md-4">
            <div class="profile-pic">
              <img [src]="perfilData?.fotoUrl || 'assets/default-profile.png'" alt="Foto de Perfil" class="img-fluid">
              <div class="upload-pic">
                <input type="file" (change)="onFileSelected($event)" #fileInput>
                <button class="btn btn-primary" (click)="fileInput.click()">Cambiar Foto</button>
              </div>
            </div>
          </div>

          <div class="col-md-8" ><!--aqui estan los datos del perfil-->
            <div class="profile-info">
              <p><strong>Nombre:</strong> {{ perfilData.nombre }} {{ perfilData.apellido }}</p>
              <p><strong>Correo electrónico:</strong> {{ perfilData.correo }}</p>
              <p><strong>Nacionalidad:</strong> {{ perfilData.nacionalidad }}</p>
              <p><strong>Edad:</strong> {{ perfilData.edad }}</p>
              <p><strong>Teléfono:</strong> {{ perfilData.telefono }}</p>
              <p><strong>Intereses:</strong> {{ perfilData.intereses }}</p>
              <p><strong>Seguidores:</strong> {{ perfilData.seguidores }}</p>
              <p><strong>Rol:</strong> {{ perfilData.rol }}</p>
            </div>
            <div class="edit-info">
              <button class="btn btn-primary" (click)="enableEditing()">Editar Información</button>
            </div>
          </div>
        </div>

        
        <div *ngIf="isEditing" class="edit-form">
          <form [formGroup]="perfilForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="nombre">Nombre</label>
              <input type="text" class="form-control" id="nombre" formControlName="nombre">
            </div>
            <div class="form-group">
              <label for="apellido">Apellido</label>
              <input type="text" class="form-control" id="apellido" formControlName="apellido">
            </div>
            <div class="form-group">
              <label for="nacionalidad">Nacionalidad</label>
              <input type="text" class="form-control" id="nacionalidad" formControlName="nacionalidad">
            </div>
            <div class="form-group">
              <label for="telefono">Teléfono</label>
              <input type="tel" class="form-control" id="telefono" formControlName="telefono">
            </div>
            <div class="form-group">
              <label for="intereses">Intereses</label>
              <input type="text" class="form-control" id="intereses" formControlName="intereses" style="margin-bottom: 10px;">
            </div>
            <button type="submit" class="btn btn-primary" >Guardar Cambios</button>
          </form>
        </div>

      </div>
    </div>
  </div>
</div>