<app-menu></app-menu>

<div class="content">
    <!-- Button Start -->
    <div class="container-fluid pt-4 px-4">
        <div class="row g-4">
            <div class="col-sm-12 col-xl-6">
                <div class="bg-secondary rounded h-100 p-4">
                    <div class="m-n2">
                        <form (ngSubmit)="newPublicacionEntry()" [formGroup]="publicacionForm">
                            <input type="text" class="form-control m-2" placeholder="Texto publicación"
                                formControlName="contenido">
                            <button type="submit" class="btn btn-success m-2">Publicar</button>
                        </form>
                        <hr>
                        <div class="bg-secondary rounded h-100 p-4" *ngFor="let publicacion of publicacionesList">
                            <h6 class="mb-4">{{publicacion.usuarioQueLaSubio.nombre}}
                                {{publicacion.usuarioQueLaSubio.apellido}}</h6>
                            <div class="m-n2">
                                <p>{{publicacion.contenido}}</p>
                                <button type="button" class="btn btn-outline-primary m-2">Me gusta</button>
                                <form >
                                    <input type="text" name="" id="" placeholder="Texto comentario"><button
                                        type="button" class="btn btn-outline-success m-2">Comentar</button>
                                </form>
                            </div>

                        </div>
                    </div>

                </div>



            </div>
            <div class="col-sm-12 col-xl-6">
                <div class="bg-secondary rounded h-100 p-4">
                    <h6 class="mb-4">Noticias</h6>
                    <div class="m-n2">
                        <p>espacio a la derecha</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>