<div class="container-fluid position-relative d-flex p-0">
    <!-- Spinner Start -->
    <!--<div id="spinner" class="show bg-dark position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <span class="sr-only">Loading...</span>
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
        </div>
    </div>-->
    <!-- Spinner End -->
  
    <div class="container-fluid">
    <!-- Container Start -->
        <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
            <!-- CONTENEDOR VIDEO-->
            <div class="col-12 col-lg-6 d-flex align-items-center justify-content-center bg-dark">
                <div class="video-container" style="margin-left: 100px;">
                    <video width="100%" height="auto" controls autoplay loop>
                        <source src="assets/video/StarGazers_Video_InicioSesion.mp4" type="video/mp4">
                    </video>
                        Your browser does not support the video tag.
                </div>
            </div>
            <!-- CONTENEDOR INICIO DE SESION -->
            
            <div class="col-12 col-lg-6 d-flex align-items-center justify-content-center">
                <div class="bg-secondary rounded p-4 p-sm-5 my-4 mx-3">
                    <div class="d-flex align-items-center justify-content-between mb-3">
                      <a href="/login" class="">
                            <h3 class="text-primary"><i class="fa fa-user-edit me-2"></i>StarsGazers</h3>
                        </a>
                    </div>
                    <div class="mb-3">
                        <h3>Iniciar Sesión</h3>
                    </div>
                    <form class="user" (ngSubmit)="onLogin(formLogin)" #formLogin="ngForm">
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name="correo" ngModel>
                            <label for="floatingInput">Correo</label>
                        </div>
                        <div class="form-floating mb-4" >
                            <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="clave" ngModel>
                            <label for="floatingPassword">Clave</label>
                        <button type="submit" class="btn btn-primary py-3 w-100 mb-4" style="margin-top: 10px;">Entrar</button>
                        </div>
                        <p class="text-center mb-0" >¿Eres un nuevo astrónomo? <a href="/signup">Registrate aquí</a></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Container End -->
</div>
