<app-menu></app-menu>
<div class="container pt-4 px-4" style="margin-left: 15%;">

  <div class="row">
    <h1 style="margin-left: 17%;">Lista de Contenidos</h1>
    <div class="col-md-8 offset-md-2" *ngFor="let contenido of contenidoList">
      <div class="card mb-4">
        <div class="card-body">
          <h2 class="card-title">{{ contenido.titulo }}</h2>
          <p class="card-text">{{ contenido.descripcion }}</p>
          <p class="card-text">Tipo: {{ contenido.tipo }}</p>
          <p class="card-text">Enlace: {{ contenido.EnlaceContenido }}</p>
          <button class="btn btn-primary" (click)="verContenido(contenido)">Ver Contenido</button>
        </div>
      </div>
    </div>
  </div>
</div>