
<app-menu></app-menu>
<div class="content">
    <div class="container-fluid pt-4 px-4">
        <div class="bg-secondary rounded h-100 p-4">
            <div class="m-n2">
                <h2 class="mb-4">Contenidos</h2>
            </div>
        </div>
    </div>
</div>


<!--div *ngFor="let contenido of contenidoList"></div>
    <div class="m-n2">
        <h6>{{contenido.titulo}}</h6>
        <p>{{contenido.tipo}}</p>
        <p>{{contenido.descripcion}}</p>
        <p>{{contenido.EnlaceContenido}}</p>
</div-->