<app-menu></app-menu>
<div class="content">
    <div class="container-fluid pt-4 px-4">
        <div class="bg-secondary rounded h-100 p-4">
            <div class="m-n2">


                <h2 class="mb-4">Eventos programados</h2>

                <div class="filtros">
                    <label for="fecha">Filtrar:</label>
                    <select id="fecha">
                        <option value="">Fecha</option>
                    </select>
                    <select id="tipo-evento">
                        <option value="">Tipo de evento</option>
                    </select>
                </div>

            </div>
        </div>
    </div>
</div>